<div class="homebg">
      <div class="homedata">
        <h1>EH Contact Directory</h1>
        <h3>Hi Welcome to EH Directory  <br> This app helps to manage your contacts <br> 
            You can add and delete the contacts in the app as well as make them disabled/active<BR>
                This site is responsive, you can try using in mobile devices
        
        </h3><br>
        <div class="button-group">
            <button class="btn btn-lg" (click)="viewContactList()">View Contact List</button>
            <button class="btn btn-lg" (click)="addNew()">Add a new Contact</button>
        </div>  
    </div>


    
</div>

